.header{
    .nav1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 250px;
    }
    .nav{
        .between{
            .a1{
                padding: 1500px 0 0 -80px;
            }
            .a2{
                padding: -10px -70px 0 0;
            }
        }
    }
}