.section4 {
    .yulduz {
        padding: 30px 0 75px 1030px;
    }

    .div1 {
        background: #F9E0C7;
        border-radius: 20px;
        width: 1110px;
        height: 450px;

        .svg_im {
            width: 412px;
            height: 791px;
            padding-bottom: 100px;
        }

        .text3 {
            padding: 109px 61px;

            h2 {
                width: 256px;
                padding-bottom: 30px;
                font-size: 45px;
                color: #000000;
            }

            p {
                width: 540px;
                font-size: 20px;
                color: #000000;
            }

        }
    }
}