.section3 {
    .svg4{
        padding-bottom: 50px;
    }
    .flex {
        justify-content: space-between;
        .tex {
            .imgp {
                position: absolute;
                left: 403px;
                top: 2250px;
            }

            h2 {
                font-size: 45px;
                color: #000000;
                width: 576px;
                padding-bottom: 30px;
            }

            p {
                color: #000000;
                width: 540px;
                font-size: 20px;
            }
        }
    }
}